<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="sk-styles/sk.app.css" />
    <link rel="stylesheet" type="text/css" href="/styles/bulma.css" />
    <script type="text/javascript" src="/scripts/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Hind|Lora|Srisakdi" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <figure class="">
                    <img src="/imgs/logo.jpg" />
                </figure>
            </div>
            <div class="nameLogo">
                <span>Sweet</span>
                <span>Karoline</span>
                <span>Cakes</span>
            </div>
            <div class="navContainer">
                <div class="social-links">
                    <a>
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a>
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a>
                        <i class="fab fa-pinterest"></i>
                    </a>
                    <a>
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
    
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                        data-target="navbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                    <div id="navbar" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/">
                                <span>Home</span>
                            </a>
                            
                            <a class="navbar-item" href="/gallery">
                                <span>Gallery</span>
                            </a>
                            
                            <a class="navbar-item" href="/order">
                                <span>Order</span>
                            </a>
                            
                            <a class="navbar-item" href="/contact">
                                <span>Contact</span>
                            </a>
                            
                            <a class="navbar-item" href="/about">
                                <span>About</span>
                            </a>
    
                            <a class="navbar-item" href="/cart">
                                <span>
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                                <span id="shopping_cart_total">
                                    $0.00
                                </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="contentBody container" id="app">
        <!-- Component will be injected here based on route --> 
        <sk-index v-if="currentRoute == '/'"></sk-index>
        <sk-gallery v-if="currentRoute == '/gallery'"></sk-gallery>
        <sk-order v-if="currentRoute == '/order'"></sk-order>
        <sk-contact v-if="currentRoute == '/contact'"></sk-contact>
        <sk-about v-if="currentRoute == '/about'"></sk-about>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Tuesday — Friday: 7:30am to 6pm <span>•</span> Saturday: 8am to 5pm <span>•</span> Sunday, Monday: Closed </strong>
            </p>
            <i class="fab fa-facebook-square"></i>
            <a class="">Facebook</a>
            <i class="fab fa-instagram"></i>
            <a class="">Instagram</a>
        </div>
    </footer>
    <!-- Import component scripts here -->
    <!-- Components -->
    <script type="text/javascript" src="sk/components/index/index.tile.js"></script>
    <script type="text/javascript" src="sk/components/index/index.banner.js"></script>
    <script type="text/javascript" src="sk/components/gallery/gallery.image.js"></script>
    <script type="text/javascript" src="sk/components/gallery/gallery.lightbox.js"></script>
    <script type="text/javascript" src="sk/components/order/order.product.display.js"></script>
    <script type="text/javascript" src="sk/components/order/order.product.customize.js"></script>
    <!-- Apps -->
    <script type="text/javascript" src="sk/components/index/index.app.js"></script>
    <script type="text/javascript" src="sk/components/order/order.app.js"></script>
    <script type="text/javascript" src="sk/components/gallery/gallery.app.js"></script>
    <script type="text/javascript" src="sk/components/contact/contact.app.js"></script>
    <script type="text/javascript" src="sk/components/about.app.js"></script>

    <!-- Import the app last so it has all the components -->
    <script type="text/javascript" src="sk/components/app.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }
        });
    </script>
</body>


</html>