/* Main color 1 #24ABA4 */
/* Accent 1 #FF4365 */
/* Main color 2 #030301 */
/* Accent 2 #FFFFF3 */

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
    height: 180px;
    padding-bottom: 25px;
}

p, button {
    font-family: 'Lora', serif;
}

a {
    color: #24ABA4 !important;
    font-family: 'Hind', sans-serif;
}

nav {
    clear: both;
}

#shopping_cart_total {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.nameLogo {
    position: absolute;
    /* text-align: center; */
    /* width: Calc(50% - 123px); */
    width: 100%;
    text-align: center;
    /* top: 3rem; */
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Srisakdi', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #24ABA4;
    z-index: 100;
}

.nameLogo span {
    display: block;
}

.navbar-menu {
    border-bottom: 2px solid #FF4365;
}

.navbar-item:hover {
  color: #FFFFF3 !important;
  background: #FF4365 !important;
}

.logo {
    position: absolute;
    left: Calc(50% - 123px);
}

.logo figure {
    width: 256px;
    height: 256px;
    margin: 0 auto;
}

.logo figure img {
    border-radius: 100px; 
}

.navContainer {
    position: absolute;
    width: 100%;
    top: 100px;
}

.social-links {
    float: right;
    padding-bottom: 15px;
}

.social-links a {
    font-size: 1.125em;
    /* margin: 0 15px; */
    padding: 15px;
    color: #FF4365 !important;
}

.social-links a:hover {
    color: #24ABA4 !important;
    /* background: #24ABA4 !important; */
}

.contentBody {
    min-height: 500px;
    padding: 50px 0;
    background: white; 
}

.footer {
    clear: both;
    margin-top: 50px;
}

/* Index scope */
.gallery-short-links {
    padding: 0 100px;
}

.index-tile.has-link:hover {
    cursor: pointer;
}

.index-tile .tile-content {
    height: 250px;
    z-index: 2;
}

.index-tile .tile-content > div:first-child {
    float: right;
}

.index-tile .tile-content > div:first-child > h1 {
    position: relative;
    color: #FFFFF3;
    font-size: 1.75rem;
    z-index: 15;
    padding-top: 5px; 
    text-align: center;
    min-width: 100px;
    margin-top: 20px;
}

.index-tile .tile-content > div:first-child:before { 
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #24ABA4; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    /* top: 30px; */
}

.index-tile .tile-content > div:not(:first-child) {
    position: relative;
    height: 100%;
 }

 .index-tile .tile-content > div:not(:first-child) > p {
    float: right;
    font-size: 0.525em;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    text-transform: uppercase;
 }

 .index-tile > .tile-block {
    background-color: whitesmoke;
    border-radius: 4px;
    position: relative;
 }

.sk-index-banner {
    margin: 100px 0;
    height: 256px;
    float: left;
    width: 100%;
    background-color: steelblue;
}

.sk-index-banner .image-container {
    float: left;
    width: 256px;
    height: 256px;
    z-index: 5;
    margin-top: -35px;
    margin-left: 5%;
}

.sk-index-banner .content {
    height: 100%;
    margin-left: 10%;
    margin-top: 25px;
}

.sk-index-banner .content p {
    color: white;
    font-size: 1.25rem;
    height: Calc(100% - 75px);
    margin: 10px 0;
}

.sk-index-banner .content:before,
.sk-index-banner .content:after {
    display: block;
    content: "";
    border-top: .1rem solid #d5d5d5;
    width: 100%;
    margin: 0 1rem;
    /* transform: translateY(-1rem); */
}

.sk-index-banner .banner-body {
    float: left;
    width: 65%;
    text-align: center;
    height: 100%;
}


/* Image */

.gallery-image.column:hover {
    cursor: pointer;
    background: rgba(0,0,0, .1y);
}

/* Gallery */

.sk-gallery {
    /* margin: 0 50px; */
}

.caption {
    font-size: 11px;
    text-align: center;
    font-weight: bold; 
}

.sk-gallery-lightbox {
    float: left;
}

.lightbox-caption {
    color: white;
    clear: both;
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-size: 0.75em;
}

.arrow {
    height: 85%;
    float: left;
    width: 25%;
}

.arrow:hover {
    cursor: pointer;
}

.arrow > i {
    margin-top: 60%;
    font-size: 1.25em;
    color: white;
}

.arrow:hover > i {
    color: black;
}

.arrow.right > i {
    float: right;
    margin-right: 15px;
}

.arrow.left > i {
    float: left;
    margin-left: 15px;
}

/* Order */

.sk-order > section {
    margin: 50px 5em;
}

.product-description {
    min-height: 70%;
}

.product-button {
    /* float: right; */
}

.custom-price {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.sk-customize {
    margin-bottom: 50px; 
}
.sk-contact {
  font-size: 16px;
  width: 500px;
  padding: 15px 30px;
  border-radius: 4px;
  margin: 50px auto;
  width: 500px;
  background-color: #eb2c69;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}
.sk-contact fieldset {
  margin: 24px 0 0 0;
}
.sk-contact legend {
  padding-bottom: 10px;
  border-bottom: 1px solid #ecf0f1;
}
.sk-contact div {
  position: relative;
  margin: 20px 0;
}
.sk-contact h4,
.sk-contact .label {
  color: #94aab0;
  margin-bottom: 10px;
}
.sk-contact .label {
  display: block;
}
.sk-contact input,
.sk-contact textarea,
.sk-contact select,
.sk-contact label {
  color: #2b3e51;
}
.sk-contact input[type="text"],
.sk-contact input[type="email"],
.sk-contact textarea,
.sk-contact select,
.sk-contact legend {
  display: block;
  width: 100%;
  appearance: none;
}
.sk-contact input[type="text"],
.sk-contact input[type="email"],
.sk-contact textarea,
.sk-contact select {
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.sk-contact input[type="text"]:focus,
.sk-contact input[type="email"]:focus,
.sk-contact textarea:focus,
.sk-contact select:focus {
  outline: none;
  border-color: #2c3e50;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.sk-contact .select {
  position: relative;
}
.sk-contact .select::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E")
    no-repeat center center;
  pointer-events: none;
}
.sk-contact select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.sk-contact select::-ms-expand {
  display: none;
}
.sk-contact .sk-contact-list {
  margin-top: 16px;
}
.sk-contact .sk-contact-list::after {
  clear: both;
  content: "";
  display: table;
}
.sk-contact .sk-contact-list li {
  display: inline-block;
  position: relative;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left;
}
.sk-contact input[type="radio"],
.sk-contact input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.sk-contact input[type="radio"] + label,
.sk-contact input[type="checkbox"] + label {
  padding-left: 24px;
}
.sk-contact input[type="radio"] + label::before,
.sk-contact input[type="radio"] + label::after,
.sk-contact input[type="checkbox"] + label::before,
.sk-contact input[type="checkbox"] + label::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.sk-contact input[type="radio"] + label::before,
.sk-contact input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.sk-contact input[type="radio"] + label::before,
.sk-contact input[type="radio"] + label::after {
  border-radius: 50%;
}
.sk-contact input[type="checkbox"] + label::before,
.sk-contact input[type="checkbox"] + label::after {
  border-radius: 0.25em;
}
.sk-contact input[type="radio"] + label::after,
.sk-contact input[type="checkbox"] + label::after {
  background-color: #2c3e50;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.sk-contact input[type="radio"] + label::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}
.sk-contact input[type="checkbox"] + label::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%2210%22%20points%3D%225%2C8%207%2C10%2011%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}
.sk-contact input[type="radio"]:focus + label::before,
.sk-contact input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}
.sk-contact input[type="radio"]:checked + label::after,
.sk-contact input[type="checkbox"]:checked + label::after {
  display: block;
}
.sk-contact input[type="radio"]:checked + label::before,
.sk-contact input[type="radio"]:checked + label::after,
.sk-contact input[type="checkbox"]:checked + label::before,
.sk-contact input[type="checkbox"]:checked + label::after {
  animation: cd-bounce 0.3s;
}
.sk-contact textarea {
  min-height: 120px;
  resize: vertical;
  overflow: auto;
}
.sk-contact input[type="submit"] {
  border: none;
  background: #2c3e50;
  border-radius: 0.25em;
  padding: 12px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
}
.no-touch .sk-contact input[type="submit"]:hover {
  background: #42a2e1;
}
.sk-contact input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.sk-contact input[type="submit"]:active {
  transform: scale(0.9);
}
.sk-contact .error-message {
  height: 35px;
  margin: 0px;
}
.sk-contact .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.25em;
  padding: 16px;
}
.sk-contact .error {
  border-color: #e94b35 !important;
}
.sk-contact .counter {
  background-color: #ecf0f1;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
  padding: 4px;
}

.debug {
  border-radius: 4px;
  margin: 50px auto;
  width: 500px;
  background-color: #000;
  padding: 50px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.debug pre {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  white-space: pre-wrap;
}

@-webkit-keyframes cd-bounce {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes cd-bounce {
  0%,
  100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

button.customizable {
  width: 100%;
}

.customizable.description {
  text-align: center;
  font-size: 0.725em;
}

.customizable.quantity {
  margin-top: 5px;
    position: relative;
    display: block;
}

figure.product {
  height: 270px;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.space {
  margin-right: 10px;
}

a.button {
  color: white !important;
}