<<<<<<< Updated upstream
section {
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
}

a {
    color: #eb2c69 !important;
}

nav {
    clear: both;
}

.logo {

}

.logo figure {
    width: 128px;
    height: 128px;
    margin: 0 auto;
}

.social-links {
    float: right;
    padding-bottom: 15px;
}

.social-links a {
    font-size: 1.125em;
    /* margin: 0 15px; */
    padding: 15px;
}

.social-links a:hover {
    background-color: #fafafa;
}

/* Index scope */
.index-tile.has-link:hover {
    cursor: pointer;
}

.index-tile .tile-content {
    height: 250px;
    z-index: 2;
}

.index-tile .tile-content > div:first-child {
    float: right;
}

.index-tile .tile-content > div:first-child > h1 {
    position: relative;
    font-size: 1.75rem;
    color: white;
    z-index: 15;
    padding-top: 5px; 
    text-align: center;
    min-width: 100px;
}

.index-tile .tile-content > div:first-child:after { 
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #eb2c69; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    top: 0;
}

.index-tile .tile-content > div:not(:first-child) {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 50px;
 }

 .index-tile .tile-content > div:not(:first-child) > p{
    float: right;
    font-size: 0.725em;
    color: grey;
 }

.sk-index-banner {
    margin: 50px 0;
    height: 256px;
    float: left;
    width: 100%;
    background-color: steelblue;
}

.sk-index-banner .image-container {
    float: left;
    width: 256px;
    height: 256px;
    z-index: 5;
    margin-top: 25px;
    margin-left: 5%;
}

.sk-index-banner .content {
    height: 100%;
    margin-left: 10%;
    margin-top: 25px;
}

.sk-index-banner .content p {
    color: white;
    font-size: 1.25rem;
    height: Calc(100% - 75px);
    margin: 10px 0;
}

.sk-index-banner .content:before,
.sk-index-banner .content:after {
    display: block;
    content: "";
    border-top: .1rem solid #d5d5d5;
    width: 100%;
    margin: 0 1rem;
    /* transform: translateY(-1rem); */
}

.sk-index-banner .banner-body {
    float: left;
    width: 65%;
    text-align: center;
    height: 100%;
}
=======
<style >
body {
    background-color: aqua d24dff;
}
</style >
>>>>>>> Stashed changes
